asgiref
celery==5.4.0
channels_redis==4.2.1
channels==4.2.0
Django==5.0.2
djangorestframework==3.15.2
gunicorn==22.0.0
playwright==1.48.0
poetry==1.8.4
pre_commit==4.0.1
psycopg2-binary==2.9.9
redis==5.2.0
uvicorn==0.34.0
websockets
